:root{
    /* Colors */
    --color-text: #0f0f0f;
    --color-primary: #eac360;
    --color-secondary: #fff;
    --color-dark: #cda42a;
    --color-bg: #262626;

    /* Fonts */
    --font-dm-sans: 'DM Sans;'
}